In [1]:

# import library 
from bs4 import BeautifulSoup as bs
import requests
import json

In [2]:
# tripadviser url/retrieve page with the requests module/parse with 'html.parser
url_ny = 'https://www.yelp.com/search?find_desc=Restaurants&find_loc=New%20York%2C%20NY&ns=1&sortby=recommended'
# url_bangkok = 'https://www.tripadvisor.com/Attractions-g293916-Activities-Bangkok.html'
# url_london = 'https://www.tripadvisor.com/Attractions-g186338-Activities-London_England.html'
# url_dubai = 'https://www.tripadvisor.com/Attractions-g295424-Activities-Dubai_Emirate_of_Dubai.html'
# url_singapore = 'https://www.tripadvisor.com/Attractions-g294265-Activities-Singapore.html'
# url_paris = 'https://www.tripadvisor.com/Attractions-g187147-Activities-Paris_Ile_de_France.html'

In [3]:
#print(soup.prettify)

In [4]:
# usea funciton to get all the data from one page
def souping(url):    
    response = requests.get(url)
    soup = bs(response.text,'html.parser')
    return soup

In [5]:
ny_soup = souping(url_ny)
#print(ny_soup.prettify())

In [13]:
# name results are returned as an iterable list
ny_name = ny_soup.find_all('a', class_ = 'lemon--a__373c0__IEZFH link__373c0__29943 link-color--blue-dark__373c0__1mhJo link-size--inherit__373c0__2JXk5')

In [14]:
# print(ny_name)

In [15]:
# get all the name
#store the top 30 attraction into a list

def find_title(rstrnt_name):
    title_list = []
    for name in rstrnt_name:
        try:
            title = name.text

            if(title):

                title_list.append(title)
        except AttributeError as e:
            print(e)

    return title_list

In [91]:
ny_title = find_title(ny_name)
#print(ny_title)

In [26]:
def clean_title(titles):
    cleaned_list = []
    for title in titles:
        if title !="read more":
            cleaned_list.append(title)
    return cleaned_list[1:31]

In [90]:
ny_title_cleaned = clean_title(ny_title) 
#print(ny_title_cleaned)
#len(ny_title_cleaned)

In [34]:
def add_finder(city_soup):

    # find add
    adds = city_soup.find_all('p', class_="lemon--p__373c0__3Qnnj text__373c0__2pB8f text-color--normal__373c0__K_MKN text-align--right__373c0__3ARv7")
    #print(result_review)
    add_list = []
    for add in adds:
        add_list.append(add.text)

    
    return add_list

In [88]:
ny_add = add_finder(ny_soup)
#ny_add

In [84]:
# find the add from the list
def add_cleaner(adds):
    add_list = adds[1::]
    
    add_cleaned = []
    for i in range(1,31):
        add_cleaned.append(add_list[3*i+1])

    return add_cleaned

In [89]:

ny_add_clean = add_cleaner(ny_add)
print(len(ny_add_clean))
#ny_add_clean

30

In [95]:
 def review_finder(city_soup):  
    # used the same methdo to obtain price for each restaurant 
    result_review = city_soup.find_all('span', class_="lemon--span__373c0__3997G text__373c0__2pB8f reviewCount__373c0__2r4xT text-color--mid__373c0__3G312 text-align--left__373c0__2pnx_")
    #print(result_review)
    review_list = []
    for review in result_review:
        review_list.append(review.text)

    return review_list[1::]

In [98]:
ny_restaurant_reviews = review_finder(ny_soup)
ny_restaurant_reviews

['2624 reviews',
 '1817 reviews',
 '4731 reviews',
 '5328 reviews',
 '3049 reviews',
 '1392 reviews',
 '1317 reviews',
 '2137 reviews',
 '1553 reviews',
 '468 reviews',
 '829 reviews',
 '2117 reviews',
 '428 reviews',
 '1325 reviews',
 '854 reviews',
 '1828 reviews',
 '1571 reviews',
 '6001 reviews',
 '597 reviews',
 '174 reviews',
 '659 reviews',
 '1871 reviews',
 '702 reviews',
 '415 reviews',
 '491 reviews',
 '2432 reviews',
 '1439 reviews',
 '540 reviews',
 '2085 reviews',
 '1900 reviews']

In [101]:
#store data to a object export to mongodb later
ny_restaurant = {
    "name":ny_title,
    "reviews":ny_restaurant_reviews,
    "address":ny_add_clean
}

{'name': ['Westfield World Trade Center',
  'read more',
  'Amélie',
  'read more',
  'Upstate',
  'read more',
  'LoveMama',
  'read more',
  'Burger & Lobster',
  'read more',
  'Thai Villa',
  'read more',
  'Aunt Jake’s',
  'read more',
  'Ipanema Restaurant',
  'read more',
  'Bogota Latin Bistro',
  'read more',
  'Barn Joo',
  'read more',
  'Uglyduckling',
  'read more',
  'Paesano of Mulberry Street',
  'read more',
  'Juliana’s Pizza',
  'read more',
  'Salt + Charcoal',
  'read more',
  'Boucherie West Village',
  'read more',
  'Gelso & Grand',
  'read more',
  'Barn Joo 35',
  'read more',
  'Pig and Khao',
  'read more',
  'Joe’s Shanghai',
  'read more',
  'nonono',
  'read more',
  'Chama Mama',
  'read more',
  'Atrium Dumbo',
  'read more',
  'Alta',
  'read more',
  'Somtum Der',
  'read more',
  'Balzem',
  'read more',
  'Antica Ristorante',
  'read more',
  'Bea',
  'read more',
  'The MasalaWala',
  'read more',
  'Fishmarket Restaurant',
  'read more',
  'Soco',
  'read more',
  'Toloache 50',
  'read more',
  'More Topics',
  'Some Data By Acxiom'],
 'reviews': ['2624 reviews',
  '1817 reviews',
  '4731 reviews',
  '5328 reviews',
  '3049 reviews',
  '1392 reviews',
  '1317 reviews',
  '2137 reviews',
  '1553 reviews',
  '468 reviews',
  '829 reviews',
  '2117 reviews',
  '428 reviews',
  '1325 reviews',
  '854 reviews',
  '1828 reviews',
  '1571 reviews',
  '6001 reviews',
  '597 reviews',
  '174 reviews',
  '659 reviews',
  '1871 reviews',
  '702 reviews',
  '415 reviews',
  '491 reviews',
  '2432 reviews',
  '1439 reviews',
  '540 reviews',
  '2085 reviews',
  '1900 reviews'],
 'address': ['22 W 8th St',
  '95 1st Ave',
  '174 2nd Ave',
  '39 W 19th St',
  '5 E 19th St',
  '149 Mulberry St',
  '43 W 46th St',
  '141 5th Ave',
  '35 Union Sq W',
  '166 Smith St',
  '136 Mulberry St',
  '19 Old Fulton St',
  '171 Grand St',
  '99 7th Ave S',
  '186 Grand St',
  '34 W 35th St',
  '68 Clinton St',
  '9 Pell St',
  '118 Madison Ave',
  '149 W 14th St',
  '15 Main St',
  '64 W 10th St',
  '85 Ave A',
  '202 Mott St',
  '8 Stone St',
  '403 W 43rd St',
  '179 Essex St',
  '111 South St',
  '509 Myrtle Ave',
  '251 West 50th St']}

In [104]:
with open('ny_restaurant.json', 'w') as ny:
    json.dump(ny_restaurant, ny)