In [1]:
# import library 
from bs4 import BeautifulSoup as bs
import requests
import json

In [2]:
url_ny_bars = 'https://www.yelp.com/search?find_desc=Bars&find_loc=New+York%2C+NY'

In [3]:
# usea funciton to get all the data from one page
def souping(url):    
    response = requests.get(url)
    soup = bs(response.text,'html.parser')
    return soup

In [4]:
ny_soup_bars = souping(url_ny_bars)
ny_name_bars = ny_soup_bars('a', class_ = 'lemon--a__373c0__IEZFH link__373c0__29943 link-color--blue-dark__373c0__1mhJo link-size--inherit__373c0__2JXk5')

In [5]:
# get all the name
#store the top 30 attraction into a list

def find_title(rstrnt_name):
    title_list = []
    for name in rstrnt_name:
        try:
            title = name.text

            if(title):

                title_list.append(title)
        except AttributeError as e:
            print(e)

    return title_list

In [6]:
ny_title_bars = find_title(ny_name_bars)
print(ny_title_bars)

['TRI Lounge & Cafe', 'read more', 'Los Tres Chiflados', 'read more', 'Jajaja', 'read more', 'The Dead Rabbit', 'read more', 'Hidden Lane', 'read more', 'Livingston Manor', 'read more', 'The Belfry', 'read more', 'The Up & Up', 'read more', 'Gowanus Gardens', 'read more', 'BED STUY Barb’s', 'read more', 'Boilery', 'read more', 'District Social', 'read more', 'Whiskey Tavern', 'read more', 'Attaboy', 'read more', 'Apothèke', 'read more', 'The Binc', 'read more', '1 Rooftop Garden & Bar', 'read more', 'Nitecap', 'read more', 'The Library', 'read more', 'FREEHOLD', 'read more', 'Someday Bar', 'read more', 'The Ship', 'read more', 'Botanica Bar', 'read more', 'The Dead Poet', 'read more', 'The Freak Bar', 'read more', 'The Flamingo', 'read more', 'The Tippler', 'read more', 'Elsa', 'read more', 'House Of Wax', 'read more', 'Superfine', 'read more', 'St Tropez - Soho', 'read more', 'More Topics', 'Some Data By Acxiom']

In [7]:
def clean_title(titles):
    cleaned_list = []
    for title in titles:
        if title !="read more":
            cleaned_list.append(title)
    return cleaned_list[1:31]

In [8]:
ny_bars_title_cleaned = clean_title(ny_title_bars)
ny_bars_title_cleaned

['Los Tres Chiflados',
 'Jajaja',
 'The Dead Rabbit',
 'Hidden Lane',
 'Livingston Manor',
 'The Belfry',
 'The Up & Up',
 'Gowanus Gardens',
 'BED STUY Barb’s',
 'Boilery',
 'District Social',
 'Whiskey Tavern',
 'Attaboy',
 'Apothèke',
 'The Binc',
 '1 Rooftop Garden & Bar',
 'Nitecap',
 'The Library',
 'FREEHOLD',
 'Someday Bar',
 'The Ship',
 'Botanica Bar',
 'The Dead Poet',
 'The Freak Bar',
 'The Flamingo',
 'The Tippler',
 'Elsa',
 'House Of Wax',
 'Superfine',
 'St Tropez - Soho']

In [9]:
def add_finder(city_soup):

    # find add
    adds = city_soup.find_all('p', class_="lemon--p__373c0__3Qnnj text__373c0__2pB8f text-color--normal__373c0__K_MKN text-align--right__373c0__3ARv7")
    #print(result_review)
    add_list = []
    for add in adds:
        add_list.append(add.text)

    
    return add_list

In [10]:
ny_bars_add = add_finder(ny_soup_bars)

In [11]:
ny_bars_add

['Showing 1-30 of 6877',
 '(718) 442-5800',
 '1938 Clove Rd',
 'Concord',
 '(347) 350-6152',
 '1046 Flatbush Ave',
 'Ditmas Park',
 '(917) 262-0184',
 '63 Carmine St',
 'West Village',
 '(646) 422-7906',
 '30 Water St',
 'Financial District',
 '(914) 414-5778',
 '129 E 15th St',
 'Gramercy',
 '(347) 987-3292',
 '42 Hoyt St',
 'Boerum Hill',
 '(212) 473-6590',
 '222 E 14th St',
 'East Village',
 '(212) 260-3000',
 '116 MacDougal St',
 'Greenwich Village',
 '(347) 799-2588',
 '256 4th Ave',
 'Gowanus',
 '380A Marcus Garvey Blvd',
 'Bedford Stuyvesant',
 '(646) 755-8968',
 '710 Amsterdam Ave',
 'Upper West Side',
 '(212) 994-9599',
 '252 W 37th St',
 'Midtown West',
 '(212) 374-9119',
 '79 Baxter St',
 'Chinatown',
 '134 Eldridge St',
 'Lower East Side',
 '(212) 406-0400',
 '9 Doyers St',
 'Chinatown',
 '(718) 624-1444',
 '60 Henry St',
 'Brooklyn Heights',
 '(347) 696-2505',
 'Located in 1 Hotel Brooklyn Bridge',
 '151 Rivington St',
 'Lower East Side',
 '(212) 375-1352',
 '7 Ave A',
 'East Village',
 '(718) 388-7591',
 '45 S 3rd St',
 'Williamsburg - South Side',
 '(929) 480-8454',
 '364 Atlantic Ave',
 'Boerum Hill',
 '(212) 219-8496',
 '158 Lafayette St',
 'SoHo',
 '(212) 343-7251',
 '47 E Houston St',
 'Nolita',
 '(212) 595-5670',
 '450 Amsterdam Ave',
 'Upper West Side',
 '(718) 372-5159',
 '1208 Surf Ave',
 'Coney Island',
 '590 Fulton St',
 'Fort Greene',
 '(212) 206-0000',
 '425 W 15th St',
 'Meatpacking District',
 '(917) 882-7395',
 '136 Atlantic Ave',
 'Cobble Hill',
 '(929) 382-5403',
 '445 Albee Square W',
 'Downtown Brooklyn',
 '(646) 902-5859',
 '126 Front St',
 'DUMBO',
 '(917) 261-4441',
 '194 Spring St',
 'South Village']

In [24]:
# # find the add from the list
# def add_cleaner(adds):
#     add_list = adds[4::]
    
#     add_cleaned = []
#     for i in range(1,29):
#         add_cleaned.append(add_list[3*i+1])

#     return add_cleaned

In [12]:
# ny_bars_add_clean = add_cleaner(ny_bars_add)
# print(len(ny_bars_add_clean))
# ny_bars_add_clean

In [13]:
 def review_finder(city_soup):  
    # used the same methdo to obtain price for each restaurant 
    result_review = city_soup.find_all('span', class_="lemon--span__373c0__3997G text__373c0__2pB8f reviewCount__373c0__2r4xT text-color--mid__373c0__3G312 text-align--left__373c0__2pnx_")
    #print(result_review)
    review_list = []
    for review in result_review:
        review_list.append(review.text)

    return review_list[1::]

In [14]:
ny_bars_reviews = review_finder(ny_soup_bars)
ny_bars_reviews

['88 reviews',
 '73 reviews',
 '1531 reviews',
 '11 reviews',
 '119 reviews',
 '509 reviews',
 '425 reviews',
 '10 reviews',
 '1 review',
 '94 reviews',
 '661 reviews',
 '771 reviews',
 '531 reviews',
 '1440 reviews',
 '69 reviews',
 '47 reviews',
 '328 reviews',
 '405 reviews',
 '504 reviews',
 '16 reviews',
 '324 reviews',
 '372 reviews',
 '417 reviews',
 '38 reviews',
 '62 reviews',
 '670 reviews',
 '102 reviews',
 '91 reviews',
 '448 reviews',
 '52 reviews']

In [32]:
 def cost_finder(city_soup):  
    # used the same methdo to obtain price for each restaurant 
    result_cost = city_soup.find_all('span', class_="lemon--span__373c0__3997G text__373c0__2pB8f priceRange__373c0__2DY87 text-color--normal__373c0__K_MKN text-align--left__373c0__2pnx_ text-bullet--after__373c0__1ZHaA")
    #print(result_review)
    cost_list = []
    for cost in result_cost:
        cost_list.append(cost.text)

    return cost_list

In [37]:
ny_bars_cost = cost_finder(ny_soup_bars)
ny_bars_cost

['$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$$',
 '$$',
 '$$$',
 '$$',
 '$',
 '$$',
 '$$',
 '$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$']

In [38]:
ny_bars_cost.insert(3,"unknown")
ny_bars_cost.insert(7,"unknown")
ny_bars_cost.insert(8,"unknown")
ny_bars_cost.insert(9,"unknown")
ny_bars_cost.insert(19,"unknown")
ny_bars_cost

['$$',
 '$$',
 '$$',
 'unknown',
 '$$',
 '$$',
 '$$',
 'unknown',
 'unknown',
 'unknown',
 '$$',
 '$$',
 '$$',
 '$$$',
 '$$',
 '$$$',
 '$$',
 '$',
 '$$',
 'unknown',
 '$$',
 '$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$',
 '$$']

In [40]:
ny_bars = {
    "name":ny_bars_title_cleaned,
    "reviews":ny_bars_reviews,
    "cost":ny_bars_cost
}

In [41]:
# with open('ny_bars.json', 'w') as bars:
#     json.dump(ny_bars, bars)